@font-face {
    font-family: 'Le Jour Script';
    font-style: normal;
    font-weight: normal;
    src: local('Le Jour Script'), url('../fonts/LeJourScript-Eaqpg.woff') format('woff');
}

@font-face {
    font-family: 'Le Jour Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Le Jour Serif'), url('../fonts/LeJourSerif-OVZMo.woff') format('woff');
}




body {
    padding-top: 56px;
    /* Adjust for fixed navbar */
}

/* LANDING OVERLAY */
.landing-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffe6e9;
    /* Light pink */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1);
}

body.loaded .landing-overlay {
    transform: translateY(-100%);
}

.reveal-button-position {
    position: absolute;
    bottom: 50px;
    /* Adjust this value to move the button up or down */
    left: 50%;
    transform: translateX(-50%);
}

.reveal-button {
    background: none;
    border: none;
    color: #000000;
    /* Adjust color as needed */
    font-size: 2rem;
    /* Adjust size as needed */

    padding: 10px;
    transition: opacity 0.3s ease;
}


.reveal-button:hover {
    opacity: 0.7;
}

.landing-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-rings {
    max-width: 200px;
    margin-bottom: 20px;

}

.landing-names {
    font-family: 'Le Jour Script', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 6px;
    color: #1a1a1a;
}

.landing-date {
    font-family: 'Bellefair', sans-serif;
    font-size: 1rem;
    letter-spacing: 6px;
    color: #000000;
}

body.loaded .landing-overlay {
    transform: translateY(-100%);
}

/* NAVBAR */



.bg-light {
    background-color: #ffe6e9 !important;
}

.logo {

    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;

}




.nav-link {
    font-family: 'Bellefair', sans-serif !important;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 300;
    transition: all 0.3s ease; /* Smooth transition for all changes */
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Style for hover state */
.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 1) !important; /* Slightly darker on hover */
}

/* Style for active/selected nav item */
.navbar-nav .nav-link.active,
.navbar-nav .nav-item.show .nav-link {
    color: #000000 !important; /* Totally black for active/selected item */
     /* Optional: makes the active item bolder */
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.2);
}

#confettiButton {

    padding-right: 0.5rem !important;
}



/* Style the burger icon button */
.navbar-toggler {
    border: none;
    opacity: 1;
    /* Remove the border */
    /* Adjust padding as needed */
}

/* Style the burger icon itself */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Change color on hover */
.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Remove the focus outline */
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}








/* PARTITION */
.partition {
    height: 20px;
    position: relative;
    box-shadow:
        0 -2px 4px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.1);


}

.heart-border {
    height: 14px;

}


/* HOME SECTION */

#home {
    background-image: url('../images/flowerbackground.png');


    display: flex;


    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;



}



/* .text-shadow {
    text-shadow: 0.5px 0.5px 0.5px rgb(72, 72, 72);
} */

/* INVITE CONTENT */


/* PLEASE JOIN US */
/* Base styles (for mobile devices) */


.invitation-text {
    font-family: 'Bellefair', serif;
    font-size: 1.2rem;
    letter-spacing: 4px;
    margin-top: 7rem;
    position: relative;
    bottom: 40px;
}

.wedding-of {
    font-family: 'Le Jour Script', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 2rem;
    position: relative;
    bottom: 40px;
}

.couple-names {
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    font-style: normal;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.guy {
    position: relative;
    right: 105px;
}

.and {
    font-family: 'Le Jour Script', sans-serif;
    font-size: 1.5rem;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.bex {
    position: relative !important;
    left: 20px;
    top: 5px;
    color: #ffffff;
}

.date,
.ceremony-time {
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.date {
    margin-top: 5rem;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.deer-park {
    color: #ffffff;
    margin-top: 0;
    font-size: 0.8rem;
}

.ceremony-time {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    letter-spacing: 4px;
}

/* RECEPTION */
.reception {
    font-family: 'Le Jour Script', sans-serif;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 10rem;


}

/* Media queries for responsive growth */
@media (min-width: 576px) {
    .invitation-text {
        font-size: 1.4rem;
    }

    .wedding-of,
    .reception {
        font-size: 2rem;
    }

    .couple-names {
        font-size: 2.2rem;
    }

    .and {
        font-size: 1.7rem;
    }

    .date,
    .ceremony-time {
        font-size: 1.3rem;
    }

    .deer-park {
        font-size: 0.9rem;
    }

    .reception {
        font-size: 1.4rem;
    }

    .guy {
        right: 110px;
    }

}

@media (min-width: 768px) {
    .invitation-text {
        font-size: 1.4rem;
    }

    .wedding-of {
        font-size: 2.0rem;
    }

    .couple-names {
        font-size: 2.0rem;
    }

    .and {
        font-size: 1.9rem;
    }

    .date,
    .ceremony-time {
        font-size: 1.4rem;
    }

    .deer-park {
        font-size: 1rem;
    }

    .reception {
        font-size: 1.6rem;
    }

    .guy {
        right: 125px;
    }

    .and {
        right: 25px;
    }

    .bex {
        left: 25px;
    }

    #home {
        height: 120vh;
    }
}

@media (min-width: 992px) {
    .invitation-text {
        font-size: 1.4rem;
    }

    .wedding-of {
        font-size: 2.2rem;
    }

    .couple-names {
        font-size: 2.2rem;
    }

    .and {
        font-size: 2.1rem;
    }

    .date,
    .ceremony-time {
        font-size: 1.4rem;
    }

    .deer-park {
        font-size: 1rem;
    }

    .reception {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .guy {
        right: 130px;
    }

    .and {
        right: 25px;
    }

    .bex {
        left: 25px;
    }
}


@media (min-width: 1200px) {

    .guy {
        right: 130px;
    }

    .and {
        right: 25px;
    }

    .bex {
        left: 25px;
    }

    #home {
        height: 120vh;
    }
}

@media (min-width: 1400px) {

    #home {
        height: 100vh;
    }

    .couple-names {
        font-size: 2.4rem;
    }

}






/* DETAILS SECTION */
#details {
    background-image: url('../images/background2.png');
    background-attachment: fixed;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;


}


.details-section-title {

    font-family: 'Le Jour Script', sans-serif;
    font-size: 1.8rem;

    text-align: center;
    margin-top: 1rem;
}

.subsection-title {
    font-family: 'Bellefair', serif;
    color: #000000;
    font-size: 1.2rem;
    letter-spacing: 4px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1;
}

.details-text>p {
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    letter-spacing: 1.2px;
    margin-bottom: 0.5rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000000;
}

.details-text {
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    letter-spacing: 1.2px;

    text-align: center;

    color: #000000;

}

.extras {
    margin-bottom: 2rem;
    color: #000000;


}

/* ACCOMMODATION SECTION */
#accommodation {
    background-image: url('../images/background1.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}

.accommodation-section-title {
    font-family: 'Le Jour Script', sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    

}

#accommodation-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}


.room-type {
    font-family: 'Bellefair', serif;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000000;
}

.accommodation-info {
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    letter-spacing: 1.2px;
    text-align: center;
    justify-content: center;
    color: #000000;
}

.local-area-title {
    font-family: 'Le Jour Script', serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: center;
    color: #ffffff;
}

.local-area-list {
    font-family: 'Bellefair', serif;
    font-size: 1rem;
    letter-spacing: 1.2px;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 2rem;
    color: #000000;
}


/* Custom styles for accommodation tabs */
#accommodationTabs {
    margin-bottom: 1.6rem;
    border-bottom: none;
    /* Remove the default bottom border */
    flex-wrap: nowrap;
}

#accommodationTabs .nav-item {
    margin: 0 1rem;
    /* Add space between tab titles */

}

#accommodationTabs .nav-link {
    color: #000000;
    opacity: 0.7;
    font-family: 'Bellefair', serif;
    font-weight: 100;
    font-size: 1rem;
    /* Increase font size */
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    /* Remove default border */
    background-color: transparent;
    padding: 0;
    transition: all 0.3s ease;
}

#accommodationTabs .nav-link:hover {
    text-decoration: none;
    opacity: 1;
    /* Remove underline on hover */

}

#accommodationTabs .nav-link.active {

    border-bottom: 1px solid #000000;
    /* Add underline for active tab */
    background-color: transparent;
    opacity: 1;
}

.tab-content {

    padding-top: 0.5rem;
    /* Increase space between tabs and content */
}

.highlight-text {
    color: #ffffff;
    /* White text */

}

/* Style for tab pane to ensure content is centered */
.tab-pane {
    display: flex;
    justify-content: center;
}

.tab-pane>div {
    max-width: 800px;
    /* Adjust as needed */
}

.accommodation-link {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.accommodation-link:hover {
    opacity: 1;
    text-decoration: none;
}



/* Responsive adjustments */
@media (min-width: 768px) {
    #accommodationTabs .nav-link {
        font-size: 1rem;
    }
}






/* MENU SECTION */
#menu {
    background-image: url('../images/background2.png');
    background-attachment: fixed;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* MENU TEXT */

.menu-title {
    font-family: 'Le Jour Script', serif;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 0 !important;
}

.menu-text {

    font-family: 'Bellefair', serif;
    letter-spacing: 2px;
}

.item-title {
    margin-bottom: 0px;
    font-size: 1rem;
}

.item-description {
    font-size: 0.8rem;
    color: #000000c6;
    padding-left: 1rem;
    padding-right: 1rem;
}

.course-title {
    font-size: 1.2rem;
    margin-top: 2rem;

}

.deer-icon {
    height: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.rsvp-text {
    font-size: 0.8rem;
}





/* FOOTER */

#date {
    font-family: 'Bellefair', serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-top: 2px
}

.footer-text {
    font-family: 'Bellefair', serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0px;

}

/* FORM */

.form-format {
    height: 700px;
    width: 100%;
}







/* Add more custom styles as needed */

/* Enhanced Responsive adjustments */



#confettiButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    background-color: #ffe6e9;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: none;
    outline: none;
    padding: 0;
    /* Remove any padding */
    text-decoration: none;
    /* Remove any text decoration */
    overflow: hidden;
    /* Add this to ensure the icon doesn't overflow */
    touch-action: manipulation;
    /* Add this line */
    -webkit-tap-highlight-color: transparent;
    /* Add this line for WebKit browsers */
}


#confettiButton:hover,
#confettiButton:focus {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#confettiButton:active {
    transform: scale(0.95);
}

#confettiButton i {
    font-size: 27px;
    color: #333;
    line-height: 1;
    /* Ensure icon doesn't add extra space */
    display: block;
    /* Prevent inline behavior */
    position: relative;
    /* Add this */
    left: 4px;
    /* Adjust this value to move the icon right */
    top: 1px;
    /* Adjust this value to move the icon down if needed */
}

/* Prevent any default browser styles */
#confettiButton::-moz-focus-inner {
    border: 0;
}

/* FOOTER BOX SHADOW */
.box-shadow {
    box-shadow: 0 -2px 5px rgba(37, 37, 37, 0.15);
}

/* Hide on larger screens if desired */



@media (max-width: 767px) {
    #details .col-md-4 {
        margin-bottom: 2rem;
    }

    #details .col-md-4:last-child {
        margin-bottom: 0;
    }

    .address-container {
        margin-bottom: 1rem;
    }

    .rings {
        display: none;
    }

}